
.wrapper {
	max-width: 1920px;
	background-image: url("assets/background.jpg");
	 background-repeat: repeat;
	 background-size: 100%;
}

header {
	display: flex;
	align-items: center;

	justify-content: space-between;
	background-color: rgba(211, 83, 55, 0.9);
}

.logo img {
	max-height: 100px;
	border-radius: 100px;
}

.menu-block {
	display: flex;
}
.menu-block li {
	list-style-type: none;
	margin-right: 15px;
}

.post-section {
	margin-left: auto;
    margin-right: auto;
	max-width: 1000px;
	background-color: grey;
	display: flex;
	/*justify-content: flex-start;*/
	flex-wrap: wrap;
	align-items: center;

}

.post-block {
	background-color: rgba(211, 83, 55, 0.9);
	max-width: 100%;
	margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 350px;
   text-align: center; 
}
.post-block img {
	max-height: 100px;
	border-radius: 100px;
}

.post-block h1 {
	align-items: center;
}
.post-text-block {
	width: 80%;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}
.post-text {
	display: inline;
}
.post1:hover {
	background-color: yellow;
}
.post2:hover {
	background-color: red;
}
.post3:hover {
	background-color: green;
}
.post4:hover {
	background-color: white;
}
.post5:hover {
	background-color: orange;
}

footer {
	display: flex;
	background-color: rgba(211, 83, 55, 0.9);
}

.contacts {
	min-height: 700px;

}
.contacts div{
	background-color: white;
}